
<% @ideas.each do |idea| %>
	<br/>
	<li>
	<%= link_to idea.title, idea_path(idea) %>
	<%= idea.description %>
	<%= idea.planned_to %>
	</li>
<%end%>

<br/>
<%= link_to "Crate new idea", ideas_new_path %>