
<% @ideas.each do |idea| %>
	<br/>
	<li>
	<a href="<%= idea_path(idea) %>"><%= idea.title %></a>
	<%= idea.description %>
	</li>
<%end%>

<br/>
<a href="<%= ideas_new_path %>">Create to new idea </a>